{
  "env": {
    "node": true,
    "es2021": true,
    "browser": true,
    "jest": true
  },
  "plugins": [],
  "extends": [
    "react-app",
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "warn"
  }
}
